.advantages__wrapper {
  margin-bottom: 32px;

  text-align: center;

  // Tablet

  @media (min-width: $viewport-tablet) {
    margin-bottom: 53px;
  }

  // Desktop

  @media (min-width: $viewport-desktop) {
    margin-bottom: 41px;
  }
}

.advantages__title {
  margin: 0 0 40px;

  // tablet & Desktop

  @media (min-width: $viewport-tablet) {
    font-size: 21px;
  }
}

.advantages__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $dark-gray;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  &_primary {
    grid-column: 1 / -1;
  }
}
