.advantages__title {
  text-align: center;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $dark-gray;
  text-align: center;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content);
  padding: 0;

  list-style: none;
}

.advantages__item {
  // TODO Позиционка
  grid-column: 1 / 2;

  &_primary {
    grid-column: 1 / -1;
  }
}
