.catalog {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $basic-black;
}

.catalog__title,
.catalog__description {
  text-align: center;
}

.catalog__wrapper {
  padding: 0;

  // Tablet

  @media (min-width: $viewport-tablet) {
    padding: 0 60px;
  }

  // Desktop

  @media (min-width: $viewport-desktop) {
    padding: 0 120px;
  }
}
