.catalog {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $basic-black;
}

.catalog__title,
.catalog__description {
  text-align: center;
}

.catalog__title {
  margin-bottom: 30px;
}

.catalog__description {
  margin-bottom: 30px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 80px;
  }
}

.catalog__photos {
  margin-bottom: 32px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 58px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 63px;
  }
}

.catalog__video {
  margin-bottom: 45px;
  padding: 0;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 40px;
    padding: 0 60px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 85px;
    padding: 0 120px;
  }
}
