.copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    justify-content: flex-end;
  }
}

// Icon states

.copyright__link {
  display: flex;
  align-items: center;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $accent-blue;
  }

  &:active .copyright__icon {
    fill-opacity: 0.3;
  }
}

.copyright__title {
  margin: 0 12px 0 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $basic-black;
}

.copyright__icon {
  fill: $basic-black;
}
