.copyright {
  display: flex;
  flex-wrap: nowrap;

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    justify-content: flex-end;
  }
}

.copyright__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  // TODO стили для svg
}
