.features {
  background-color: $basic-gray;

  &_primary {
    color: $basic-white;
    background-color: $accent-blue;
  }
}

.features__wrapper {
  // TODO Tablet | Desktop
  text-align: center;
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.features__city-wrapper {
  // TODO Спозиционировать картинку
}

.features__img {
  // TODO Здесь нужно сцентрировать картинку, возможно, аналогом маски
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.features__item {
  // TODO Позиционка

}
