.figure {
  width: 100%;
  margin: 0;
}

.figure__meta-info {
  width: 100%;
  height: 80px;
}

.figure__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;

  list-style: none;
}
