.form-review__item {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 320px;
}

.form-review__title {
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form-review__input-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-review__input-item {
  &_textarea {
    width: 100%;
    height: 160px;
    border: 0;

    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background-color: $light-gray;
    resize: none;

    &::placeholder {
      color: $basic-black;
    }
  }
}

.form-review__submit {
  text-align: center;
}

.form-review__button {
  border: none;
}

.form-review__tip {
  display: none;
}

// Tablet & Desktop

@media (min-width: $viewport-tablet) {
  .form-review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form-review__item {
    &_contacts,
    &_place,
    &_textarea {
      grid-column: 1 / -1;
    }

    &_impression {
      order: -1;
    }
  }

  .form-review__submit {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    text-align: initial;
  }

  .form-review__tip {
    display: block;
  }
}
