.form__title,
.form__description {
  margin: 0;
  text-align: center;
}

.form__title {
  margin-bottom: 29px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 34px;
  }
}

.form__description {
  margin-bottom: 16px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 84px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 58px;
  }
}
