.intro-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $basic-black;

  &_less {
    font-size: 18px;
  }

  @media (min-width: $viewport-tablet) {
    font-size: 30px;
  }
}
