.meta {
  width: 100%;

  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 17px 20px 15px;

    background-color: $light-gray-100;
  }

  @media (min-width: $viewport-desktop) {
    color: $basic-white;
    background-color: $basic-black-opacity;
  }
}

.meta__list {
  margin: 0;

  &_info {
    flex-grow: 1;

    @media (min-width: $viewport-tablet) {
      margin-right: 30px;
    }
  }

  &_likes {
    @media (max-width: $viewport-mobile-only) {
      margin-top: 14px;
    }
  }
}

.meta__list-wrapper {
  display: flex;
}

.meta__title,
.meta__description {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.meta__description {
  font-weight: 400;
  color: $dark-gray;
  text-transform: none;

  &_username {
    margin-left: 4px;
  }

  &_like-stats {
    display: flex;

    font-weight: 700;
  }
}

.meta__title,
.meta__description,
.meta__description_like-stats {
  @media (min-width: $viewport-desktop) {
    color: $basic-white;
  }
}

.meta__icon-like {
  display: block;
  width: 23px;
  height: 23px;
  margin-right: 14px;

  opacity: 0.3;

  @media (min-width: $viewport-tablet) {
    margin-right: 9px;
  }

  // Desktop white in black bg

  @media (min-width: $viewport-desktop) {
    fill: $basic-white;
    opacity: 1;
  }
}
