.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  align-content: start;

  font-family: "PT Sans", "Arial", sans-serif;
  background-color: $basic-white;
}
