.page-header {
  position: relative;

  // Intro shapes

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 57px;
    background-image: url("../../img/page-header/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  // Background

  &::after {
    content: "";
    display: block;
    order: 3;
    min-width: 320px;
    min-height: 389px;
    max-width: 1200px;
    max-height: 518px;
    background-color: $accent-blue-disabled;
    background-image: url("../../img/page-header/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &_other {
    &::after {
      min-height: 158px;
      background-position: 50% 100%;
      background-size: auto;
    }

    .page-header__page-nav {
      &::after {
        height: 39px;
        bottom: -100px;

        background-image: url("../../img/page-nav/intro-title.svg");
      }
    }
  }
}

// Intro text

.page-header__page-nav {
  // Full intro

  &::after {
    content: "";
    position: absolute;
    bottom: -305px;
    left: 0;
    width: 100%;
    height: 214px;
    background-image: url("../../img/page-nav/intro-full.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}


// Dont work @media in selector and &::after (???)
// Tablet

@media (min-width: $viewport-tablet) {
  .page-header {
    // Background

    &::after {
      height: 518px;
    }

    // Other pages

    &_other {
      &::after {
        height: 290px;
      }

      // Intro text in other pages

      .page-header__page-nav {
        &::after {
          height: 78px;
          bottom: -170px;
        }
      }
    }
  }

  // Intro text

  .page-header__page-nav {
    &::after {
      bottom: -425px;
      height: 350px;
    }
  }
}

// Desktop

@media (min-width: $viewport-desktop) {
  .page-header {
    &_other {
      &::after {
        height: 301px;
      }
    }
  }
}
