.page-nav {
  display: flex;
  flex-direction: column;
  min-height: 56px;

  color: $basic-white;

  // Mobile only toggles

  @media (max-width: $viewport-mobile-only) {
    .page-nav__toggle {
      position: absolute;
      width: 50px;
      height: 50px;
      padding: 0;
      border: none;
      z-index: 3;
      cursor: pointer;

      background-color: transparent;

      // toggle icon

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        background-repeat: no-repeat;
      }

      &:hover::after {
        opacity: 0.6;
      }

      &:active::after {
        opacity: 0.3;
      }
    }

    // State for closed

    &_closed {
      .page-nav__list {
        display: none;
      }

      // Closed menu button

      .page-nav__toggle {
        top: 3px;
        right: 8px;

        &::after {
          width: 100%;
          height: 100%;

          background-image: url("../../img/page-nav/icon-menu.svg");
          background-position: 48% 50%;
          background-size: 23px 22px;
        }
      }
    }

    // State for opened

    &_opened {
      .page-nav__list {
        display: flex;
      }

      // Opened menu button

      .page-nav__toggle {
        top: 4px;
        right: 7px;

        &::after {
          width: 100%;
          height: 100%;

          background-image: url("../../img/page-nav/icon-cross.svg");
          background-position: 48% 50%;
          background-size: 23px 23px;
        }
      }
    }

    // JavaScript unavailable toggles and menu

    &_no-js {
      .page-nav__toggle {
        display: none;
      }

      .page-nav__list {
        display: flex;
      }
    }
  }
}

.page-nav__toggle {
  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    display: none;
  }
}

.page-nav__logo-container {
  grid-area: logo;
  position: relative;
  display: block;
  width: 100%;
  height: 56px;
  order: 1;

  @media (min-width: $viewport-tablet) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.page-nav__logo-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 102px;
  height: 84px;
  margin: 0 auto;

  z-index: 2;

  // Desktop

  @media (min-width: $viewport-desktop) {
    width: 187px;
    height: 97px;
  }
}

.page-nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  // Shadow in bottom list

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 156px 1fr 1fr;
    grid-auto-flow: row;

    // Shadow in bottom hide

    &::after {
      display: none;
    }
  }
}

.page-nav__item {
  text-align: center;

  // None shadow

  &:first-child {
    .page-nav__link {
      border-top: none;
    }
  }

  &:last-child {
    .page-nav__link {
      border-bottom: none;
    }
  }

  @media (min-width: $viewport-tablet) {
    &:nth-child(4n - 1) {
      grid-column: 4 / 5;
    }
  }
}

.page-nav__link {
  width: 100%;
  padding: 9px 0 5px; // 10 pad - 1 border-top
  border-top: 1px solid rgba(lighten($accent-blue, 50%), 0.2);
  border-bottom: 1px solid rgba(darken($accent-blue, 50%), 0.2);

  font-weight: 700;
  font-size: 18px;
  line-height: 40px;

  &_current {
    &:hover,
    &:active,
    &:focus {
      color: $basic-white;
      background-color: $accent-blue;
    }
  }

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    flex-grow: 1;
    min-width: 153px;
    padding: 15px 0;
    border: none;

    font-size: 14px;
    line-height: 26px;
    color: $basic-black;
    background: transparent;
    box-shadow: none;

    &:focus,
    &:hover {
      color: $accent-blue;
      background: transparent;
    }

    &:active {
      color: $basic-black-opacity;
    }

    &_current {
      color: $light-brown;

      &:focus,
      &:hover {
        color: $medium-brown;
      }

      &:active {
        color: rgba($light-brown, 0.3);
      }
    }
  }
}
