.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;
  align-content: start;
  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;
  background-color: $light-gray;
}

.page__wrapper {
  background-color: $basic-white;
  box-shadow: 0 5px 15px $wrapper-shadow;
}

.page__header {
  margin-bottom: 32px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 44px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 53px;
  }

  // for form.html

  &_form {
    margin-bottom: 36px;

    @media (min-width: $viewport-tablet) {
      margin-bottom: 64px;
    }

    @media (min-width: $viewport-desktop) {
      margin-bottom: 114px;
    }
  }

  // for catalog.html

  &_catalog {
    margin-bottom: 24px;

    @media (min-width: $viewport-tablet) {
      margin-bottom: 59px;
    }

    @media (min-width: $viewport-desktop) {
      margin-bottom: 102px;
    }
  }
}
