.page-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $basic-white;
  text-transform: uppercase;
}

.page-main__advantages {
  margin-bottom: 33px;
}

.page-main__search {
  margin-bottom: 49px;
}
