.page-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $basic-white;
  text-transform: uppercase;
}

.page-main__advantages {
  margin-top: 32px;
  margin-bottom: 33px;

  // Tablet

  @media (min-width: $viewport-tablet) {
    margin-top: 44px;
    margin-bottom: 56px;
  }

  // Desktop only

  @media (min-width: $viewport-desktop) {
    margin-top: 55px;
  }
}

.page-main__search {
  margin-bottom: 49px;

  // Tablet

  @media (min-width: $viewport-tablet) {
    margin-bottom: 58px;
  }

  // Desktop only

  @media (min-width: $viewport-desktop) {
    margin-bottom: 66px;
  }
}

.page-main__form {
  margin-top: 36px;
  margin-bottom: 48px;

  // Tablet

  @media (min-width: $viewport-tablet) {
    margin-top: 64px;
    margin-bottom: 61px;
    padding: 0 60px;
  }

  // Desktop only

  @media (min-width: $viewport-desktop) {
    margin-top: 114px;
    margin-bottom: 66px;
    padding: 0 120px;
  }
}
