.page-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $basic-white;
  text-transform: uppercase;
}

.page-main__advantages {
  margin-bottom: 33px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 56px;
  }
}

.page-main__search {
  margin-bottom: 49px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 58px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 66px;
  }
}

.page-main__form {
  margin-bottom: 44px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 68px;
    padding: 0 60px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 72px;
    padding: 0 120px;
  }
}
