.page-header {

  // TODO Заготовка для бургера
  &::after {

  }
}

.page-header__page-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-header__intro {
  min-width: 900px;
  min-height: 390px;
}
