.page-footer {
  background-color: $basic-white;
  text-transform: uppercase;
}

.page-footer__wrapper {
  padding: 33px 20px 23px;
  text-align: center;

  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 29px 8px;
  }

  @media (min-width: $viewport-desktop) {
    padding: 30px 10px;
    column-gap: 64px;
  }
}

.page-footer__hashtag {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (max-width: $viewport-mobile-only) {
    margin: 0 auto 33px;
  }
}

.page-footer__social-media {
  margin: 0;
  padding: 0;

  @media (max-width: $viewport-mobile-only) {
    margin: 0 0 40px;
  }
}
