.photos__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.photos__item {
  min-width: 280px;
  height: auto;
}

.photos__figure {
  width: 100%;
  margin: 0;
}

// Tablet

@media (min-width: $viewport-tablet) {
  .photos__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .photos__item {
    &_wide {
      grid-column: 1 / -1;
    }
  }

  .photos__meta-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

// Desktop

@media (min-width: $viewport-desktop) {
  .photos__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .photos__figure {
    position: relative;
    background-color: transparent;
  }
}
