.photos__list {
  margin: 0;
  padding: 0;

  list-style: none;

  // Tablet

  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }

  // Desktop

  @media (min-width: $viewport-desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 120px;
  }
}

.photos__item {
  min-width: 280px;
  width: 100%;

  // Mobile only

  @media (max-width: $viewport-mobile-only) {
    padding-top: 22px;
    padding-bottom: 15px;
    border-top: 1px solid $medium-gray;

    &:last-child {
      border-bottom: 1px solid $medium-gray;
    }
  }

  &_wide {
    // Tablet & Desktop

    @media (min-width: $viewport-tablet) {
      grid-column: 1 / -1;
    }

    // Desktop only

    @media (min-width: $viewport-desktop) {
      margin-bottom: -7px;
    }
  }
}

.photos__figure {
  min-width: 280px;
  margin: 0;

  // Mobile only

  @media (max-width: $viewport-mobile-only) {
    padding: 0 20px;
  }

  // Desktop only

  @media (min-width: $viewport-desktop) {
    position: relative;
    background-color: transparent;
  }
}

.photos__meta-info {
  margin-top: 11px;

  // Tablet

  @media (min-width: $viewport-tablet) {
    margin-top: -7px; // fixed white-space
  }

  // Desktop

  @media (min-width: $viewport-desktop) {
    position: absolute;
    left: 0;
    bottom: 7px;
  }
}
