.recommendation {
  background-color: transparent;

  // Tablet

  @media (min-width: $viewport-tablet) {
    padding: 52px 22px 60px;
  }

  // Desktop

  @media (min-width: $viewport-desktop) {
    padding: 56px 40px 81px;
  }

  // Icons images

  &_motel {
    .recommendation__title {
      &::before {
        background-image: url("../../img/recommendation/icon-house.svg");
      }
    }
  }

  &_food {
    .recommendation__title {
      &::before {
        background-image: url("../../img/recommendation/icon-burger.svg");
      }
    }
  }

  &_souvenirs {
    .recommendation__title {
      &::before {
        background-image: url("../../img/recommendation/icon-gift.svg");
      }
    }
  }

  // Mobile only icons pos

  @media (max-width: $viewport-mobile-only) {
    padding-left: 49px; // for icons

    .recommendation__title {
      display: flex;
      align-items: center;

      // Icons

      &::before {
        position: relative;
        margin-left: -44px;
        top: -3px;
        left: -7px;
      }
    }
  }
}

.recommendation__title {
  margin: 0 0 8px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $basic-black;

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    margin-bottom: 23px;
    font-size: 21px;
  }

  // Icons style

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;

    // Tablet & Desktop

    @media (min-width: $viewport-tablet) {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto 22px;
      background-size: 76px 76px;
    }
  }
}

.recommendation__description {
  margin-top: 0;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $dark-gray;

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    margin: 0;
  }
}
