.recommendation {
  background-color: transparent;
}

.recommendation__title {
  color: $basic-black;
}

.recommendation__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $dark-gray;
}
