.search {
  text-align: center;
}

.search__title {
  margin: 0 0 22px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 35px;
  }
}

.search__description {
  margin: 0 0 27px;

  @media (min-width: $viewport-tablet) {
    margin-bottom: 37px;
  }

  @media (min-width: $viewport-desktop) {
    margin-bottom: 42px;
  }
}

.search__button {
  max-width: 458px;
  width: 100%;
  padding: 14px 32px 18px;
}
