.user-opinion {
  width: 100%;

  &_grid {
    //Tablet

    @media (min-width: $viewport-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // TODO Сделать паддингами
      text-align: center;
    }

    // Desktop

    @media (min-width: $viewport-desktop) {
      grid-template-columns: repeat(4, 1fr);
      text-align: initial;
    }
  }
}

.user-opinion,
.user-opinion__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.user-opinion__input {
  // TODO Стили для фейк инпутов
}
