.user-opinion {
  width: 100%;

  // Radio

  &_radio {

    @media (min-width: $viewport-tablet) {
      padding-right: 20px;
    }

    .user-opinion__item {
      margin-bottom: 13px;

      @media (min-width: $viewport-tablet) {
        margin-bottom: 22px;
      }
    }

    // Radio button

    .user-opinion__input {
      + .user-opinion__label::before {
        margin-right: 19px;
        border-radius: 50%;
      }

      // Dot svg

      &:checked + .user-opinion__label {
        &::after {
          background-image: url("../../img/user-opinion/shape-dot.svg");
          background-size: 22px 22px;
        }

        &:active::after {
          opacity: 0.3;
        }
      }
    }
  }

  // Checkbox

  &_checkbox {
    @media (min-width: $viewport-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 200px);
      justify-content: center;
      column-gap: 59px;
      row-gap: 32px;
      margin: 0 auto;
    }

    @media (min-width: $viewport-desktop) {
      display: flex;
      justify-content: space-between;
      gap: 0;
    }

    .user-opinion__item {
      margin-bottom: 24px;

      @media (min-width: $viewport-tablet) {
        width: 250px;
        margin-bottom: 0;
      }

      @media (min-width: $viewport-desktop) {
        width: auto;
      }
    }

    // Checkbox button
    // Check svg

    .user-opinion__input {
      + .user-opinion__label::before {
        margin-right: 24px;
        border-radius: 5px;
      }

      // Check shape

      &:checked + .user-opinion__label {
        &::after {
          background-image: url("../../img/user-opinion/shape-check.svg");
          background-size: 24px 17px;
        }

        &:active::after {
          opacity: 0.3;
        }
      }
    }
  }
}

.user-opinion__item {
  &:last-child {
    margin-bottom: 0;
  }
}

.user-opinion,
.user-opinion__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.user-opinion__label {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 56px;

  cursor: pointer;
}

.user-opinion__input {
  + .user-opinion__label {
    // Background

    &::before {
      content: "";
      display: block;
      align-self: flex-start;
      width: 56px;
      height: 56px;
      flex-shrink: 0;

      background-color: $light-gray;
    }

    // Inner element

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 56px;
      height: 56px;

      background-repeat: no-repeat;
      background-position: center;
      z-index: 2;
    }

    &:hover::before {
      background-color: $medium-gray;
    }

    &:active::before {
      background-color: $extra-gray;
    }
  }

  &:focus + .user-opinion__label::before {
    outline: 4px solid $medium-gray;
    outline-offset: -4px;
  }
}
