.user-info {
  width: 100%;
}

.user-info,
.user-info__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $dark-gray;
}

.user-info__input {
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $light-gray;

  // TODO Написать стили для состояний
  &:focus {
    //
  }

  &:hover {
    //
  }

  &:active {
    //
  }

  &_wide {
    width: 100%;
  }
}

// Desktop

@media (min-width: $viewport-desktop) {
  .user-info {
    &_inline {
      @media (min-width: $viewport-desktop) {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .user-info__item {
    &_inline {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .user-info__input {
    width: auto;
  }
}
