.video__title,
.video__description, {
  text-align: center;
}

.video__title {
  margin: 0 0 35px;

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    margin-bottom: 28px;
  }
}

.video__description {
  margin: 0 0 33px;

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    margin-bottom: 80px;
  }
}

.video__player {
  margin: 0 auto;
}
