.hide {
  display: none;

  // Reset hide default

  &_mobile-only,
  &_tablet,
  &_desktop {
    display: initial;
  }

  // Mobile only

  @media (max-width: $viewport-mobile-only) {
    &_mobile-only {
      display: none;
    }
  }

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    &_tablet {
      display: none;
    }
  }

  // Only Desktop

  @media (min-width: $viewport-desktop) {
    &_desktop {
      display: none;
    }
  }
}
