// Mobile first

.hide {
  display: none;

  &_mobile-only {
    @media (max-width: $viewport-mobile-only) {
      display: inline;

      + span {
        display: none;
      }
    }
  }

  &_mobile-n-tablet {
    @media (max-width: $viewport-desktop - 1px) {
      display: inline;

      + span {
        display: none;
      }
    }
  }

  &_tablet-only {
    @media (min-width: $viewport-mobile-only) and (max-width: $viewport-desktop - 1px) {
      display: inline;

      + span {
        display: none;
      }
    }
  }

  &_tablet-n-desktop {
    @media (min-width: $viewport-tablet) {
      display: inline;

      + span {
        display: none;
      }
    }
  }

  &_desktop-only {
    @media (min-width: $viewport-desktop) {
      display: inline;

      + span {
        display: none;
      }
    }
  }
}
