// Mobile first

.hide {
  display: none;

  // Reset for tablet & desktop

  &_tablet,
  &_desktop,
  &_tablet-only {
    display: block;
  }

  &_tablet-only {
    @media (min-width: $viewport-mobile-only) and (max-width: $viewport-desktop - 1px) {
      display: none;
    }
  }

  &_tablet {
    @media (min-width: $viewport-tablet) {
      display: none;
    }
  }

  // same as show_sensory

  &_desktop {
    @media (min-width: $viewport-desktop) {
      display: none;
    }
  }
}
