// Viewport

$viewport-mobile-only: 767px;
$viewport-tablet: 768px;
$viewport-desktop: 1200px;

// Colors

// Basic

$basic-black: #000000;
$basic-white: #ffffff;
$basic-gray: #eeeeee;

// Accent

$accent-blue: #81b3d2;
$accent-blue-hover: #669ec0;
$accent-blue-active: #5496bd;
$accent-blue-disabled: #e5e5e5;

// Shades

// Gray

$light-gray: #f2f2f2;
$light-gray-100: #eaeaea;
$medium-gray: #e5e5e5;
$extra-gray: #d5d5d5;
$extra-gray-100: #5c6870;
$dark-gray: #333333;

// Brown

$light-brown: #766357;
$medium-brown: #604e43;

// Shadow

$button-inner-shadow: rgba(1, 1, 1, 0.2);
$wrapper-shadow: rgba(0, 1, 1, 0.2);

// Opacity

$basic-black-opacity: rgba($basic-black, 0.3);
$basic-white-opacity: rgba($basic-white, 0.3);
$dark-gray-opacity: rgba($dark-gray, 0.3);
