@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin non-hidden {
  position: initial;
  width: initial;
  height: initial;
  margin: initial;
  border: initial;
  padding: initial;
  white-space: initial;
  clip-path: initial;
  clip: initial;
  overflow: initial;
}

// Default

.visually-hidden {
  @include hidden;

  // Reset vh default

  &_mobile-only,
  &_tablet,
  &_desktop {
    @include non-hidden;
  }

  // Only mobile

  @media (max-width: $viewport-mobile-only) {
    &_mobile-only {
      @include hidden;
    }
  }

  // Tablet & Desktop

  @media (min-width: $viewport-tablet) {
    &_tablet {
      @include hidden;
    }
  }

  // Only desktop

  @media (min-width: $viewport-desktop) {
    &_desktop {
      @include hidden;
    }
  }
}
